<div style="padding-top:30px">
<a href="{{ site.repo }}/edit/{% if site.github_branch %}{{ site.github_branch }}{% else %}main{% endif %}/{{ page.path }}" target="_blank"><i class="fa fa-edit fa-fw"></i> Edit this page</a><br>
<a href="{{ site.repo }}/issues/new?labels={% if page.editable %}{{ page.editable }}{% else %}question{% endif %}&title=Question:&body=Question on: {{ site.repo }}/tree/{% if site.github_branch %}{{ site.github_branch }}{% else %}main{% endif %}/{{ page.path }}" target="_blank"><i class="fab fa-github fa-fw"></i> Create documentation issue</a><br>
<a href="{{ site.repo }}/issues/new" target="_blank"><i class="fas fa-tasks fa-fw"></i> Create project issue</a>
</div>
