<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Lora" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"> -->
  <script src="{{ site.baseurl }}/assets/js/home.js" ></script>
</head>
