---
title: RSE-ops
layout: default
permalink: /home/
---

<div class="jumbotron bg-gray-light">
  <div class="container-lg-home px-4 pb-md-4">
    <div class="col-sm-10 col-md-7 float-md-left mb-3 mb-md-0">
      <h1 class="display-alpha mb-3">RSE-ops</h1>
      <p class="heading-gamma dim mb-4">
        We are a community that aims to provide resources and good practices for open source software across the research software engineering and open source communities. We invite you to browse our resources, our join our efforts.
      </p>
      <p class="mb-4 mb-md-0 f3 text-serif">
        <a href="{{ site.baseurl }}/docs" class="btn btn-red mr-1 btn-raise-hover">Read the docs</a>
        <a href="{{ site.baseurl }}/about" class="btn btn-raise-hover">Learn more</a>
      </p>
    </div>
    <div class="col-md-4 float-md-right">
      <div class="card card-with-stripe mt-3 box-shadow-none">
        <h2 class="heading-gamma mb-2">Interested in?:</h2>
        <ol class="ol-styled ml-4">
          <li><a href="{{ site.baseurl }}/policy/" class="text-underline">Policies</a> we advocate for</li>
          <li>Documentation and resources <a href="{{ site.baseurl }}/docs" class="text-underline">we provide here</a></li>
          <li>The RSE-ops <a target="_blank" href="https://rse-ops.github.io/landscape" class="text-underline">landscape</a></li>
          <li>Our set of container bases <a href="{{ site.baseurl }}/docs/container-bases/" target="_blank" class="text-underline">container bases</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="page-section py-md-0">
  <div class="container-lg-home px-4">
    <div class="clearfix">
      <div class="col-md-4 float-left home-side-image-wrapper">
        <img src="{{ site.baseurl }}/assets/img/rse-ops-circle.png" style="margin-top:150px">
      </div>
      <div class="col-md-8 float-right mt-md-4 pt-6">
        <h2 class="heading-beta">What do we care about?</h2>
        <p class="text-intro text-sans text-normal mb-4">
        Changing cyberinfrastructure and architectures, along with increasing complexity have caused major challenges to developing sustainable, reproducible scientific software. As we increasingly recognize the importance of collaboration and open source software, RSE-ops (Research Software Engineering Ops) aims establish resources and practices to support lower cost and higher agility of development teams. The community includes:</p>
        <ul class="list-checklist d-flex flex-wrap flex-justify-between flex-items-stretch">
          <li class="col-sm-5">Build automation and simplification</li>
          <li class="col-sm-5">Computer science infrastructure</li>
          <li class="col-sm-5">Math and physics libraries</li>
          <li class="col-sm-5">Performance/workflow optimization</li>
          <li class="col-sm-5">Data management and visualization</a></li>
          <li class="col-sm-5">Coding policies</a></li>
          <li class="col-sm-5">Standard deployment models</a></li>
          <li class="col-sm-5">Documentation</a></li>
        </ul>
        <p class="border-top pt-2 mt-4"><a href="{{ site.baseurl }}/about" class="no-underline">Learn more about this project <svg class="svg-icon ml-2" width="14" height="14"><use xlink:href="{{ site.baseurl }}/assets/images/icons/open-iconic/sprite.min.svg#arrow-right"></use></svg></a></p>
      </div>
    </div>
  </div>
</div>

  <div class="container-lg-home px-4">
    <h2 class="heading-epsilon mb-3">Latest News <h2 class="heading-epsilon mb-3"><a style="float:right" href="/archive/">News Archive</a></h2>
    <div class="d-md-flex d-wrap gut-md">
      {% for post in site.posts limit: 2 %}
        <div class="col-md-6">
          <article class="card card-with-stripe mb-4 ">
            <h3 class="heading-gamma">
              <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
              </a>
            </h3>
            <div class="text-small text-gray-light mb-3">
              <time>{{ post.date | date: "%B %-d, %Y" }}</time> · {% include _reading_time.html %} read
            </div>
            <p>{{ post.excerpt | strip_html }}</p>
            <p class="text-small">
              <a href="{{ site.baseurl }}{{ post.url }}">Read more...</a>
            </p>
          </article>
        </div>
      {% endfor %}
    </div>
  </div>
  
<div class="page-section bg-royal-blue overflow-hidden">
  <div class="container-lg-home px-4">
    <div class="col-md-5 float-right pl-4">
      <h2 class="heading-gamma mb-2 text-white dim">Research Software Engineering @ LLNL</h2>
      <p class="text-white mb-3">
Are you looking for RSE-ops resources for the lab? LLNL internal users may visit <strong><a style="color:white" href="https://dev.llnl.gov/opensource/radiuss/" target="_blank">dev.llnl.gov/opensource/radiuss/</a></strong> for developer resources, upcoming events, opportunities for involvement, and more. General information about all LLNL open-source software, including RADIUSS projects, is available at <strong><a style="color:white" href="https://software.llnl.gov" target="_blank">software.llnl.gov</a></strong>.
      </p>
    </div>
    <div class="col-md-7 float-left d-flex flex-wrap">
      <div class="col-md-6 px-2 pb-3">
        <div class="card"><a href="https://computing.llnl.gov/sites/default/files/RADIUSS_Flier.pdf" target="_blank">Snapshot Flyer</a></div>
      </div>
      <div class="col-md-6 px-2 pb-3">
        <div class="card"><a href="https://computing.llnl.gov/sites/default/files/RADIUSS_Slides.pdf" target="_blank">Slides</a></div>
      </div>
      <div class="col-md-6 px-2 pb-3">
        <div class="card"><a href="https://www.youtube.com/watch?v=L2AIHS9V3Uk" target="_blank">Lightning Talk</a></div>
      </div>
      <div class="col-md-6 px-2 pb-3">
        <div class="card"><a href="https://software.llnl.gov/radiuss/" target="_blank">Projects</a></div>
      </div>
    </div>
  </div>
</div>
