---
layout: page
---

<style>
.menu-list {
    line-height: 1.25;
    width: 300px;
    font-size: .85em;
}

.nav__sub-title {
    display: block;
    margin: 0.5rem 0;
    padding: 0.25rem 0;
    padding-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: .75em;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #f2f3f3;
}

.menu-list a {
    border-radius: 2px;
    color: #4a4a4a;
    display: block;
    padding: .5em .75em;
}

.menu-list a:hover {
    background-color: #f5f5f5;
    color: #363636;
}

.menu-list a.is-active {
    background-color: #3273dc;
    color: #fff;
}

.menu-list li ul {
    border-left: 1px solid #dbdbdb;
    margin: .75em;
    padding-left: .75em;
}

nav li {
    list-style: none;
}
</style>

<div class="gut-lg">
  <nav class="side-nav col-md-3 float-md-left js-side-nav">
    {% if page.sidebar %}{% include sidebar.html %}{% endif %}

    <div class="d-none d-xl-block col-xl-2 td-toc d-print-none">
     <li>
        <a><span class="nav__sub-title">Contents</span></a>
        <ul class="menu-list" id="TOC">
         <!-- Links will be appended here-->
         </ul>
      </li>
    </div>

    {% include editable.html %}
  </nav>

  <div class="col-md-9 float-md-left">
      <main class="col-md-12" role="main">
           <div class="td-content">
	      {{ content }}	
              {% if section.links %}<div class="section-index">
               <hr class="panel-line">{% for child in section.links %}
                 <div class="entry">
                    <h5>
                        <a href="{% if child.url %}{{ site.baseurl }}{{ child.url }}{% else %}{{ child.external_url }}{% endif %}">{{ child.title }}</a>
                    </h5>
                    <p>{{ child.description }}</p>
                 </div>{% endfor %}
              </div>{% endif %}
              {% include feedback.html %}
           </div>
          </main>

    {% include toc.html %}
    {% include _gh_link.html %}
   </div>
</div>
